body {
  font-family: "Poppins", sans-serif;
  background-image: url("file:///Users/georginabarnsley/Desktop/untitled%20folder/purple-sky.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background: cover;
  background-size: 160%;
}
.my-weather-app {
  background-color: #ffffffd3;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
}

#search-form {
  padding: 20px;
  text-align: center;
}

.btn {
  background-color: #908be7;
  border: 1px solid whitesmoke;
}

.btn:hover {
  color: #908be7;
  background-color: whitesmoke;
  border: 1px solid #908be7;
}

h1 {
  color: #8f8be6;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: -10px;
  text-align: center;
  font-weight: bold;
  padding: 20px 30px 5px 30px;
}
.weather-icon {
  background-color: #c499eb;
  border-radius: 80px;
  margin-right: 20px;
  max-width: 70px;
  max-height: 70px;
}

ul {
  color: #c499eb;
  font-weight: bold;
  list-style-type: none;
  margin-top: 5px;
  text-align: center;
}

li:first-letter {
  text-transform: capitalize;
}

#description {
  color: #8f8be6;
  font-weight: bolder;
  font-size: 15px;
}

.current-weather {
  color: #31326f;
  margin-left: 60px;
}

#current-temperature {
  font-size: 40px;
  font-weight: bold;
  line-height: 20px;
  position: relative;
  top: 10px;
}

#units {
  position: relative;
  top: -8px;
}
a {
  color: rgb(138, 106, 199);
  text-decoration: none;
}

#units .active {
  color: #31326f;
  cursor: default;
  text-decoration: none;
}

.current-weather-details {
  list-style-type: none;
  color: #997da9;
  font-size: 15px;
  margin-right: 50px;
}

.weather-forecast {
  text-align: center;
  background-color: #898ce8c4;
  border: 0.5px solid #ffffffd3;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  max-width: 600px;
}

.forecast-day {
  color: #f3f3f3;
  font-weight: bolder;
}

.forecast-temp-high {
  color: #f3f3f3;
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
}
.forecast-temp-low {
  font-size: 15px;
}

.footer {
  color: #5e4969;
  display: block;
  text-align: center;
}
.code-link {
  color: rgb(248, 248, 248);
  text-decoration: underline;
}
