body {
  font-family: "Poppins", sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv30VFoQa_bY3hqz0W6QYif4MB0c_1AUdBuyUqFHGu0t0v5J2DAw4ZUUEyhErEe1gUK8U&usqp=CAU");
  background-repeat: no-repeat;
  background-position: center;
  background: cover;
  background-size: 160%;
}
.my-weather-app {
  background-color: #ffffffd3;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 15px;
}

form {
  padding: 20px;
  text-align: center;
  max-width: 600px;
}

.btn {
  background-color: #908be7;
  border: 1px solid whitesmoke;
  margin-right: 2px;
}

.btn:hover {
  color: #908be7;
  background-color: whitesmoke;
  border: 1px solid #908be7;
}

h1 {
  color: #8f8be6;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: -10px;
  text-align: center;
  font-weight: bold;
  padding: 20px 30px 5px 30px;
}
.weather-icon {
  background-color: #958ee74d;
  border-radius: 80px;
  margin-right: 20px;
  max-width: 75px;
  max-height: 75px;
}

ul {
  color: #c499eb;
  font-weight: bold;
  list-style-type: none;
  margin-top: 5px;
  text-align: center;
}

li:first-letter {
  text-transform: capitalize;
}

#description {
  color: #8f8be6;
  font-weight: bold;
  font-size: 15px;
}

.current-weather {
  color: #47316f;
  margin-left: 50px;
}

#current-temperature {
  font-size: 60px;
  font-weight: bold;
  line-height: 50px;
  position: relative;
  top: 20px;
}

#units {
  position: relative;
  top: -8px;
}
a {
  color: rgb(138, 106, 199);
  text-decoration: none;
}

#units .active {
  color: #31326f;
  cursor: default;
  text-decoration: none;
}

.current-weather-details {
  list-style-type: none;
  color: #997da9;
  font-size: 15px;
  margin-right: 50px;
  text-align: left;
}

.feelsLike {
  background: #8f8be6c5;
  border-radius: 10px;

  color: white;
  text-align: center;
  margin: 0px 190px 25px 190px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#sun-times {
  color: #c499eb;
  text-align: center;
}

.weather-forecast {
  text-align: center;
  background-color: #898ce8c4;
  border: 0.5px solid #ffffffd3;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  max-width: 600px;
}

.forecast-day {
  color: #f3f3f3;
  font-weight: bolder;
}

.forecast-temp-high {
  color: #f3f3f3;
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
}
.forecast-temp-low {
  font-size: 15px;
}

.footer {
  color: #5e4969;
  display: block;
  text-align: center;
}
.code-link {
  color: rgb(248, 248, 248);
  text-decoration: underline;
}
